body{
    background-color: #f1f;
    font-family: 'Arial',sans-serif;
    margin: 0;
    padding: 0;
}

h1{
    font-size: 2rem;
    text-align: center;
    padding-top: 100px;
}

p{
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: .5rem;
}

.buttons{
    display: flex;
    justify-content: center;
}

button{
    border: none;
    font-size: 3rem;
    margin: 1.5rem 1.5rem;
    padding: 0.5rem;
    cursor: pointer;
    background-color: rgb(65, 23, 215);
    border-radius: 5px;
    transition: all .3s ease-in-out;
}

button:hover{
    opacity: 0.7;
}

#rock{
    background-color: #ff0000;
}

#paper{
    background-color: #2196f3;
}

#scissors{
    background-color: #4caf50;
}

#user-score{
    color: red;
}

#computer-score{
    color: #1007fa;
}

footer{
    text-align: center;
    padding-top: 250px;
}