body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background: #000000;
    color: #fff;
    text-align: center;
    padding: 15px;
}

h1{
    margin: 0;
    font-size: 36px;
}

.container{
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
}

.recipe-list{
    list-style: none;
    margin: 0;
    padding: 0;
}

.recipe-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
}

.recipe-item img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 7px;
}

.recipe-item h2{
    font-size: 20px;
    padding: 10px;
    margin: 0;
    min-width: 100px;
}

.recipe-item p{
    margin: 0;
    padding: 10px;
    color:#777;
}

.recipe-item a{
    text-decoration: none;
    background: #0c2461;
    color: #fff;
    min-width: 120px;
    padding: 10px;
    text-transform: uppercase;
    font-size: 14px;
    transition: background 0.2s ease;
    border-radius: 7px 0 7px 0;
    margin-right: 15px;
    text-align: center;
}

.recipe-item a:hover{
    background: #1e3799;
    color: #fff;
}

@media screen and (max-width:768px) {

    .container{
        max-width: 90%;
    }

    .recipe-item{
        flex-direction: column;
    }

    .recipe-item img{
        width: 70%;
        height: auto;
        margin-bottom: 10px;
        margin-top: 25px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        border-radius: 7px;
    }

    .recipe-item h2{
        font-size: 20px;
        padding: 0;
        margin-bottom: 10px;
        text-align: start;
    }

    .recipe-item p{
        font-size: 14px;
        margin-bottom: 10px;
    }

    .recipe-item a{
        width: 100%;
        text-align: center;
    }
}
