@import url(./variables.css);


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

header{
    display:flex ;
    align-items: center;
    position: sticky;
    background-color: #fff;
    
    top:0;
    width: 100%;
    height: 86px;
    border-bottom: 1px solid rgba(238, 238, 238);
}

.container{
    width: 100%;
    display: flex;
    align-items: center;
}

.logo{
    margin-left: 32px;
    margin-right: 100px ;
}

.location{
    margin-right: 40px;
}

.location-title{
    color: black;
    font-weight: 800;
    margin-bottom:6px ;
    font-size: 18px;
}

.location-desc{
    font-size: 13px;
    color: black;
    font-weight: 400;
}

.search-bar{
    width: 832px;
    height: 46px;
    cursor: text;
    border: 1px solid rgba(0,0,0,0.4);
    border-radius: 12px;
    padding: 0px 12px;
    background-color: rgb(248,248,248);
    display: flex;
    align-items: center;
    gap:8px;
    margin-right: 70px;
}

.search-bar input{
    border: none;
    background-color: transparent;
    outline: none;
}

.login{
    font-size: 18px;
    font-weight: 400;
    color: rgba(54,54,54);
    margin-right: 70px;
    cursor: pointer;
}

.login:hover{
    color: #0282f9;
}

.cart{
    width: 112px;
    height:52px;
    background-color: rgb(12,131,31);
    margin-right: 20px;
    color: #fff;
    font-size: 14px;
    font-weight: 600px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    transition: background-color .1s ease;
    cursor: pointer;
    justify-content: center;
}

.cart i{
    width: 24px;
    margin-right: 8px;
}

.cart:hover{
    background-color: rgba(12, 131, 32, 0.634) ;
}

/* Main section */

main{
    display:flex ;
    justify-content: center;
}

.main-container{
    max-width: 1280px;
}

.section-1, .section-1 img{
    width: 100%;
}

.section-2{
    margin:0 16px ;
    display: flex;
    overflow: auto scroll;
    gap: 20px;
    border-radius: 12px;
}

.section-2-img{
    height: 195px;
    width: 335.4px;
    cursor: pointer;
    display: flex;
}

.section-3{
    margin-top:16px ;
    display: flex;
    flex-wrap: wrap;
}

.section-3-img{
    width: 140px;
}

.section-3-img img{
    width: 100% ;
    cursor: pointer;
}

.section-4{
    margin: 16px;
}

.section-header{
    font-size: 24px;
    font-weight: 500;
}

.section-list{
    margin-top: 16px;
    width: 100%;
    display: flex;
    overflow: auto scroll;
    gap: 20px;
}

.product-card{
    padding: 12px;
    width: 154px;
    border: 0.5px solid rgb(221, 221, 221);
    border-radius: 8px;
}

.product-card img{
    width: 100%;
}

.product-card-title{
    font-size: 12px;
    margin-bottom: 12px;
}

.product-card-desc{
    font-size: 12px;
    margin-bottom: 12px;
    color:#757575;
}

.product-action{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-action button{
    width:90px;
    height: 36px;
    background-color:rgb(247,255,249) ;
    border:0.5px solid rgb(12,131,31);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer{
    margin-top: 32px;
    padding: 20px;
    text-align: center;
}

/* Styles for mobile devices */
@media only screen and (max-width: 600px) {
    /* Adjust the values below as needed */

    /* Example: Adjusting font size */
    body {
    font-size: 14px;
    }
    

    /* Example: Making the logo smaller */
    .logo svg {
    width: 100px;
    height: 22px;
    }

    /* Example: Adjusting the layout of the header */
    .container {
    flex-direction: column;
    align-items: center;
    }

    .location {
    margin-top: 10px;
    }

    .search-bar {
    margin-top: 10px;
    }

    .login {
    margin-top: 10px;
    }

    .cart {
    margin-top: 10px;
    }

    .section-header{
        text-align: center;
    }

}