.container {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

#hamburger {
	background-color: transparent;
	border: none;
	cursor: pointer;
	display: flex;
	padding: 0;
}

#hamburger .line {
	fill: none;
	stroke: #000000;
	stroke-width: 6;
	transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

#hamburger .line:nth-child(1) {
	stroke-dasharray: 60 207;
	stroke-width: 6;
}

#hamburger .line:nth-child(2) {
	stroke-dasharray: 60 60;
	stroke-width: 6;
}

#hamburger .line:nth-child(3) {
	stroke-dasharray: 60 207;
	stroke-width: 6;
}

#hamburger.open .line:nth-child(1) {
	stroke-dasharray: 90 207;
	stroke-dashoffset: -134;
	stroke-width: 6;
}

#hamburger.open .line:nth-child(2) {
	stroke-dasharray: 1 60;
	stroke-dashoffset: -30;
	stroke-width: 6;
}

#hamburger.open .line:nth-child(3) {
	stroke-dasharray: 90 207;
	stroke-dashoffset: -134;
	stroke-width: 6;
}
